# Account Credentials
# Copy this file to .env and fill in your details.
# .env should be in your .gitignore, never commit your credentials!
#
# Add one numbered block per account starting at 1.
# The script stops looking at the first missing ACCOUNT_#_EMAIL

# Account 1
ACCOUNT_1_EMAIL=your-email@example.com
ACCOUNT_1_PASSWORD=your-password
#ACCOUNT_1_TOTP_SECRET=
#ACCOUNT_1_RECOVERY_EMAIL=
ACCOUNT_1_GEO_LOCALE=cn
ACCOUNT_1_LANG_CODE=zh
#ACCOUNT_1_PROXY_HTTP=false
#ACCOUNT_1_PROXY_URL=
#ACCOUNT_1_PROXY_PORT=0
#ACCOUNT_1_PROXY_USERNAME=
#ACCOUNT_1_PROXY_PASSWORD=
ACCOUNT_1_SAVE_FINGERPRINT_MOBILE=true
ACCOUNT_1_SAVE_FINGERPRINT_DESKTOP=true
